@import url(https://fonts.googleapis.com/css?family=Oswald:700);

.scrum-card {
  position: relative;
  font-family: 'Oswald', sans-serif;
  font-size: 10em;
  border: 1px #000 solid;
  border-radius: 10px;
  margin: 0 auto;
  padding: 0;
  width: 200px;
  height: 300px;
  line-height: 300px;
  white-space: nowrap;
  text-align: center;
}
